body,html{
    width: 100%;
    height: 100%;
    font-family:'Microsoft YaHei',sans-serif;
}
section,body,html,ul,li,p,div,i,img,span,h1{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
ul,li{
    list-style-type: none;
}
.wrapper{
    width:100%;
    height:100%;
}
.cricle{
    position: fixed;
    right: 20px;
    top: 300px;
}
.cricle li{
    margin-top: 6px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #fff;
    cursor: pointer;
}
.cur{
    background-color: rgba(0,0,0,.7) !important;
}
.ribbon {
      position: relative;
      display: inline-block;
      width: 12.7rem;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 5%;
}
.ribbon1:after {
    position: absolute;
    bottom:-20px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 6.4rem solid transparent;
    border-right: 6.4rem solid transparent;
    border-top: 20px solid #F8463F;
}
.ribbon1 span {
    position: relative;
    display: inline-block;
    text-align: center;
    background: #F8463F;
    font-size: 20px;
    line-height: 1;
    padding: 20px 8px 10px;
    border-top-right-radius: 8px;
    width: 100%;
}
.ribbon1 span:before, .ribbon1 span:after {
    position: absolute;
    content: "";
    display: block;
}
.ribbon1 span:before {
    background: #F8463F;
    height: 8px;
    width: 6px;
    left: -6px;
    top: 0;
}
.ribbon1 span:after {
    background: #C02031;
    height: 8px;
    width: 10px;
    border-radius: 8px 8px 0 0;
    left: -10px;
    top: 0;
}
.navbar-default{
    border:none;
    background-color: #82aa9f;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.6);
}

.navbar-default .navbar-brand{
    height: 70px;
    line-height: 35px;
    font-size:24px;
    font-weight: bold;
    color:#fff;
}
 .navbar-default .navbar-brand:hover{
    color:pink;
 }
.navbar-nav>li>a{
    height: 70px;
    line-height: 35px;
    font-size: 16px;
    color:#fff !important;
}

.navbar-default .navbar-toggle{
    margin-top: 17px;
}
.navbar-default .navbar-toggle:hover{
    border-color:red;
    background-color: rgb(69,210,184) !important;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #1c9982;
}
.information,
.about,
.technology,
.project,
.contact{
    width: 100%;
    height:100%;
    padding-bottom: 60px;
    text-align: center;
}
/*基本资料*/
.information{
    position: relative;
    background-color: #16a085;
   /* padding-top: 75px;
    background-size: 50px 50px;
    background-color: #ac0;
    background-image: linear-gradient(45deg, rgba(130, 169, 159, .2) 25%, transparent 25%, transparent 50%, rgba(130, 169, 159, .2) 50%, rgba(130, 169, 159, .2) 75%, transparent 75%, transparent);*/
}
.information .container{
    position: absolute;
    top:75px;
    margin-left: 6%;
}
.information .vhen{
    width:20rem;
    height:20rem;
    margin-left: 40%;
    margin-bottom:3rem;
    border-radius: 50%;
}
.information .vhen:hover img{
    transform: rotate(360deg) scale(1.2);
    transition: all 2s cubic-bezier(.36,0,.64,1);
}
#myBg,#snow{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
}
.information .vhen img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.information h1,
.information .name,
.information .profession,
.information .email{
    font-size: 20px;
    -webkit-text-fill-color: pink;/*文字的填充色*/
    -webkit-text-stroke: 1px #fff;
}
.information hr{
    border-color:pink;
}
.information .name{
    font-size:18px;
}
/*关于我*/
.about{
    background-color: #6d695c;
    background-image:
        repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
        repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
        linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
        linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;
}
.about .col-md-4 .item{
    width: 10rem;
    height:10rem;
    margin:10px auto;
    text-align: center;
    border-radius: 50%;
}
.about .col-md-4 .item:before{
    position: absolute;
    left:135px;
    content: '';
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 62px;
    opacity: 0;
}
.about .col-md-4:nth-of-type(1) .item:before{
    border: 8px solid #3295ff;
}
.about .col-md-4:nth-of-type(2) .item:before{
    border: 8px solid #9266f9;
}
.about .col-md-4:nth-of-type(3) .item:before{
    border: 8px solid #16c2c2;
}
.about .col-md-4:nth-of-type(4) .item:before{
    border: 8px solid #7cba59;
}
.about .col-md-4:nth-of-type(5) .item:before{
    border: 8px solid #ff4100;
}
.about .col-md-4:nth-of-type(6) .item:before{
    border: 8px solid #cdbe9f;
}
.about .col-md-4:hover .item:before{
    animation: warn 1s ease-out infinite;
}
@keyframes warn {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    20% {
        transform: scale(1);
        opacity: 0.6;
    }
    40% {
        transform: scale(1.2);
        opacity: 0.4;
    }
    60% {
        transform: scale(1.4);
        opacity: 0.2;
    }
    80% {
        transform: scale(1.6);
        opacity: 0.1;
    }
    100% {
        transform: scale(1.8);
        opacity: 0.0;
    }
}
.about .col-md-4 .item:hover .icon{
    transform: scale(1.2);
    transform: rotate(360deg);
    transition: all .6s ease;
}
.about .col-md-4:nth-of-type(1) .item{
    background-color:#3295ff;
}
.about .col-md-4:nth-of-type(2) .item{
    background-color:#9266f9;
}
.about .col-md-4:nth-of-type(3) .item{
    background-color:#16c2c2;
}
.about .col-md-4:nth-of-type(4) .item{
    background-color:#7cba59;
}
.about .col-md-4:nth-of-type(5) .item{
    background-color:#ff4100;
}
.about .col-md-4:nth-of-type(6) .item{
    background-color:#cdbe9f;
}
.about .col-md-4:nth-of-type(1) .item:hover+.name{
    color:#3295ff;
}
.about .col-md-4:nth-of-type(2) .item:hover+.name{
    color:#9266f9;
}
.about .col-md-4:nth-of-type(3) .item:hover+.name{
    color:#16c2c2;
}
.about .col-md-4:nth-of-type(4) .item:hover+.name{
    color:#7cba59;
}
.about .col-md-4:nth-of-type(5) .item:hover+.name{
    color:#ff4100;
}
.about .col-md-4:nth-of-type(6) .item:hover+.name{
    color:#cdbe9f;
}
.about .col-md-4 .icon{
    width: 50%;
    height: 50%;
    margin-top:30px;
    fill:#fff;
}
.about .col-md-4 .name{
    width:100%;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color:#fff;
}
/*技术栈*/
.technology{
    background-color: #4a5b8b;
}
.technology .tagsList{
    position:relative;
    width:300px;
    height:300px;
}
.technology .content{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 20px;
    background-image: linear-gradient(to right, #999, #999 5%, #fff 10%, #999 15%, #999);
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.technology .content:nth-of-type(1){
    -webkit-animation: anim 3s infinite;
}
.technology .content:nth-of-type(2){
    -webkit-animation: anim 4s infinite;
}
.technology .content:nth-of-type(3){
    -webkit-animation: anim 5s infinite;
}
.technology .content:nth-of-type(4){
    -webkit-animation: anim 6s infinite;
}
@-webkit-keyframes anim{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -100% 0;
    }
}
.technology .row{
    margin-top: 100px;
}
.tagsList .item {
    position:absolute;
    top:0px;
    left:0px;
    display: inline-block;
    font-size: 36px;
    font-weight:bold;
    color:#fff ;
    padding: 3px 6px;
}
.ribbon .icon{
    font-size: 20px;
    vertical-align: top;
}
.tagsList .item:hover {
    transform: scale(1.5);
    letter-spacing:2px;
}
 .modal-content{
    width: 100% !important;
}
/*项目经验*/
.project{
    position: relative;
    width:100%;
    height: 100%;
    background-color: #83aba1;
   /*background: url('../img/timg.jpg') no-repeat;*/
   background-size: 100%;
}
.project .item{
    position: relative;
    z-index: 3;
}
.project .item{
    width:80%;
    height: 350px;
    margin:0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,.6);
}
.project .item .title{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    background-image: -webkit-linear-gradient(left, #167993, #fbe500 25%, #167993 50%, #fbe500 75%, #167993);
    background-size: 200% 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: mask 4s infinite linear;
}
@-webkit-keyframes mask {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}
.project .item ul{
    width: 80%;
    margin: 0 auto;
/*    text-align: left;*/
}
.project .item li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color:#999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.project .item li a{
    text-decoration: none;
}
.project .item:not(:first-child){
    display: none;
}
.project .point{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin:20px 0 0 10px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.7);
}
.act{
    background-color: #3295ff !important;
}
/*联系我*/
.contact{
    background-color: #49819c;
}
.contact .content{
    width:80%;
    height: 200px;
    line-height: 40px;
    margin:30px auto;
    font-size:20px;
    color:#fff;
}
.contact .lianxi a{
    margin-left: 15px;
    text-decoration: none;
}
.contact .lianxi{
    height: 40px;
    line-height: 40px;
}
.contact .lianxi .icon{
    vertical-align: top;
   font-size:36px;
   color:#fff;
}
.contact .ewm{
    width: 150px;
    height: 150px;
    margin:0 auto 10px;
}
/*翻页按钮*/
.bottom-arrow{
    position: fixed;
    bottom: 5px;
    left: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color:#fff;
    transform: rotate(-90deg);
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
}
.bottom-arrow .icon{
   animation: run 3s infinite;
}
@keyframes run{
    0%{
         transform: translateX(-5px);
    }
    50%{
         transform: translateX(0px);
    }
    50%{
         transform: translateX(5px);
    }
    100%{
         transform: translateX(-5px);
    }
}

